.header-container {
    display: flex;
    background: rgb(51, 113, 212);
    background: linear-gradient(90deg, rgb(51, 113, 212) 0%, rgb(30, 39, 213) 1%, rgba(29, 32, 217, 0.795) 7%, rgb(195, 33, 33) 22%, rgb(147, 13, 13) 91%);
    color: white;
    padding: 20px;
}
  
.logo-container {
    display: flex;
}
  
.logo {
    width: 90px;
    height: 90px;
    margin-right: 100px;
}

.nav {
    display: flex;
    align-items: center;
    width: 350px;
    margin-left: 100px;
}
  
.nav-item {
    margin-left: 5px;
    display: block;   
    border: 1px solid black;   
    box-sizing: border-box;
    background: rgb(46,0,255);
    background: linear-gradient(90deg, rgba(46,0,255,0.969625350140056) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(46,0,255,1) 100%);
    padding: 17px;
    font-size: 25px;
}

