.header-container {
    display: flex;
    background: rgba(51, 113, 212, 0.801);
    background: linear-gradient(90deg, rgba(51, 113, 212, 0.767) 0%, rgba(30, 39, 213, 0.774) 1%, rgba(29, 32, 217, 0.795) 7%, rgba(195, 33, 33, 0.788) 22%, rgba(147, 13, 13, 0.774) 91%);
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
}
  
.logo-container {
    display: flex;
    align-items: center;
}
  
.logo {
    width: 90px;
    height: 90px;
    margin-right: 500px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin-left: 400px;
}
  
.nav-item {
    margin-left: 5px;
    display: block;   
    border: 1px solid black;   
    box-sizing: border-box;
    background: rgb(46,0,255);
    background: linear-gradient(90deg, rgba(46,0,255,0.969625350140056) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(46,0,255,1) 100%);
    padding: 17px;
    font-size: 25px;
}