#aside-nosotros{
    display: grid; 
    grid-template-rows: 1fr 1fr; 
    grid-row-gap: 10px;
    background-color: rgba(240, 248, 255, 0);
    width: 300px;
    border: 0;
}

#cuadrante1{
    grid-row: 1; 
    border: 2px solid black; 
    background-color: rgba(1, 2, 3, 0.473); 
    border: 5px solid rgba(0, 0, 0, 0.699); 
    text-align: center; 
    padding: 10px;
}

#cuadrante2{
    grid-row: 2; 
    border: 2px solid black; 
    background-color: rgba(1, 2, 3, 0.473); 
    border: 5px solid rgba(0, 0, 0, 0.699); 
    text-align: center; 
    padding: 10px;
}

#aside-nosotros-derecho{
    text-align: center; 
    font-size: 15px;
}

#imagenes-nosotros{
    border: 1px solid black; 
    width: 180px; 
    height: 180px;
}

#parrafo-historia{
    text-align: justify; 
    width: 800px; 
    margin: 0 auto; 
    font-size: 20px; 
    border: 5px solid rgba(0, 0, 0, 0.699); 
    color: rgb(243, 235, 235); 
    padding: 30px;
    background: rgba(2, 8, 130, 0.918);
    background: radial-gradient(circle, rgba(2, 8, 130, 0.87) 86%, rgba(19, 16, 207, 0.897) 92%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#eliminar{
    border: 0; 
    background-color: rgba(240, 248, 255, 0);
}

#background{
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    border: 1px solid rgba(99, 13, 13, 0.541);
    padding: 30px;
}

#imagen-historia{
    width: 750px; 
    height: 450px; 
    border: 2px solid white;
}

#ocultar{
    visibility: hidden;
}

#cuadricula{
    background-color: rgba(1, 2, 3, 0.712); 
    border: 5px solid rgba(0, 0, 0, 0.699); 
    padding: 10px;
    margin: 20px;
    height: 100%;
}

#p-justify{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black; 
}

#p-centrado{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

#imagenes-nosotros-centrada{
    margin: 20px; 
    width: 280px; 
    height: 280px;
}

#imagenes-nosotros-centrada-escudo{
    margin: 20px; 
    width: 180px; 
    height: 180px;
}

#eliminar-cuadrantes{
    grid-column: 1 / span 3;
}

#separar{
    justify-content: space-around;
}

#imagen-parrafo-nosotros{
    width: 450px; 
    height: 380px;
    border: 1px solid black; 
}

#centrar-imagen{
    margin: auto;
}

#fondos{
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    margin: 0;
    width: 100%;
}

#espacio_cartas_iz{
    margin-left: 20px;
}

#espacio_cartas_up{
    margin-top: 10px;
}

#tamaño_cartas{
    max-width: 300px;
}

#imagen_noticia{
    width: 190px; 
    height: 180px; 
    margin: 10px;
}

#footer-exclusivo{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}