.grid-container{
    font-size: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 150px auto 150px;
    gap: 10px;
}

.grid-container header{
    border: 2px solid black;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}

.grid-container article{
    justify-content: center;
    border: 2px solid black;
    text-align: justify; 
    width: auto;
    font-size: 23px; 
    background-color: rgba(1, 2, 3, 0.473); 
    border: 5px solid rgba(0, 0, 0, 0.699); 
    color: rgb(243, 235, 235); 
    padding: 10px;
}

.grid-container aside.left{
    justify-content: center;
    border: 2px solid black;
    text-align: justify; 
    font-size: 23px; 
    background-color: rgba(1, 2, 3, 0.473); 
    border: 5px solid rgba(0, 0, 0, 0.699); 
    color: rgb(243, 235, 235); 
    padding: 10px;
}

.grid-container aside.right{
    justify-content: center;
    border: 2px solid black;
    text-align: justify; 
    font-size: 23px; 
    background-color: rgba(1, 2, 3, 0.473); 
    border: 5px solid rgba(0, 0, 0, 0.699); 
    color: rgb(243, 235, 235); 
    padding: 10px;
}

.grid-container footer{
    text-align: center;
    padding: 23px;
    font-size: 30px; 
    border: 2px solid black; 
    background: rgba(33, 14, 138, 0.808);
    background: linear-gradient(90deg, rgba(33, 14, 138, 0.822) 0%, rgba(20, 18, 130, 0.658rgba(10, 15, 102, 0.658),102,1) 40%, rgba(13, 25, 103, 0.815) 57%, rgba(19, 37, 129, 0.801) 75%, rgba(12, 34, 121, 0.815) 85%, rgba(18, 47, 143, 0.829) 100%);
    text-align: center; 
    color: white;
}

header, footer{
    grid-column: 1 / span 3;
}

@media all (max-width: 600px)
{
    aside, article{
        grid-column: 1/3;
    }
    .grid-container{
        grid-template-rows: repeat(3, 100px);
    }
}