body{
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.grid-container header{
    border: 1px solid rgb(75, 1, 1);
    text-align: center;
    color: white;
    justify-content: space-around; 
    align-items: center;
}

.grid-container article{
    justify-content: center;
    text-align: justify; 
    width: auto;
    font-size: 23px; 
    color: rgb(243, 235, 235); 
    margin: 0;
}

.grid-container aside.left{
    justify-content: center;
    border: 2px solid black;
    text-align: justify; 
    font-size: 23px; 
    background-color: rgba(1, 2, 3, 0.473); 
    border: 5px solid rgba(0, 0, 0, 0.699); 
    color: rgb(243, 235, 235); 
    padding: 10px;
}

.grid-container aside.right{
    justify-content: center;
    border: 2px solid black;
    text-align: justify; 
    font-size: 23px; 
    background-color: rgba(1, 2, 3, 0.473); 
    border: 5px solid rgba(0, 0, 0, 0.699); 
    color: rgb(243, 235, 235); 
    padding: 10px;
}

.grid-container footer{
    text-align: center;
    padding: 15px;
    font-size: 25px; 
    border: 5px solid rgb(35, 1, 128); 
    background: rgb(33, 14, 138);
    background: linear-gradient(90deg, rgba(33, 14, 138, 0.822) 0%, rgba(20, 18, 130, 0.658rgba(10, 15, 102, 0.658),102,1) 40%, rgba(13, 25, 103, 0.815) 57%, rgba(19, 37, 129, 0.801) 75%, rgba(12, 34, 121, 0.815) 85%, rgba(18, 47, 143, 0.829) 100%);
    color: white;
}

header, footer{
    grid-column: 1 / span 3;
}

.article-container{
    display: flex;
    justify-content: center;
    margin: 0;
}

.article-container-flex{
    padding: 30px;
}

.imagen-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    display: flex;
    justify-content: space-around;
}

.footer-container-flex{
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carousel-item {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.carousel {
    margin: 0 auto;
    max-width: 750px;
}

@media all (max-width: 600px)
{
    aside, article{
        grid-column: 1/3;
    }
    .grid-container{
        grid-template-rows: repeat(3, 100px);
    }
}