@import "parrafos";

body{
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.grid-container header{
    border: 1px solid rgb(75, 1, 1);
    text-align: center;
    color: white;
    justify-content: space-around; 
    align-items: center;
}

.grid-container article{
    justify-content: center;
    text-align: justify; 
    width: auto;
    font-size: 23px; 
    color: rgb(243, 235, 235); 
    margin: 0;
}

.grid-container aside.left{
    justify-content: center;
    text-align: justify; 
    font-size: 23px; 
    color: rgb(243, 235, 235); 
}

.grid-container aside.right{
    justify-content: center;
    text-align: justify; 
    font-size: 23px; 
    color: rgb(243, 235, 235); 
}

.grid-container footer{
    text-align: center;
    padding: 15px;
    font-size: 25px; 
    border: 5px solid rgb(35, 1, 128); 
    background: rgb(33, 14, 138);
    background: linear-gradient(90deg, rgba(33, 14, 138, 0.822) 0%, rgba(20, 18, 130, 0.658rgba(10, 15, 102, 0.658),102,1) 40%, rgba(13, 25, 103, 0.815) 57%, rgba(19, 37, 129, 0.801) 75%, rgba(12, 34, 121, 0.815) 85%, rgba(18, 47, 143, 0.829) 100%);
    color: white;
}

header, footer{
    grid-column: 1 / span 3;
}

.article-container{
    display: flex;
    justify-content: center;
    margin: 0;
}

.article-container-flex{
    padding: 30px;
}

.imagen-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    display: flex;
    justify-content: space-around;
}

.footer-container-flex{
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carousel-item {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.carousel {
    margin: 0 auto;
    max-width: 750px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content, .dropbtn{
    min-width: 160px;
}

.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: #DBD8BD;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background: rgba(219, 216, 189, 0.67);
    color: white;
}

.dropbtn{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: all 0.3s;
}